
.avatar {
  overflow: hidden;
  transform: translateY(0px);
  animation: float var(--move-speed) ease-in-out infinite;
}

@keyframes float {
  0% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(var(--move-height)) ;
  }
  100% {
    transform: translateY(0px);
  }
}